/* @import "calculator.css"; */

.firstColum__dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 600px;
  height: 130px;
  /* edit */
  border-radius: 10px;
  background-color: rgb(1, 36, 56);
}

.date {
  color: var(--color-font);
  font-size: 20px;
  font-family: "Coda Caption", sans-serif;
}

.time {
  color: var(--color-font);
  font-size: 100px;
  font-family: "Coda Caption", sans-serif;
}
.firstColum__nameWeather {
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  /* edit */
  background-color: rgb(100, 74, 25);
}

.nameInput {
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 0.8px solid rgba(158, 158, 158, 0.726);
  background-color: transparent;
  color: var(--color-font);
  text-align: center;
  display: none;
  background-color: seagreen;
}

.userName {
  width: 300px;
  /* height: 100px; */
  font-size: 25px;
  text-align: center;
  overflow-wrap: break-word;
  overflow: auto;
  color: var(--color-font);
  display: none;
  background-color: saddlebrown;
}

.weather-toolBtn {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.432);
}
.weather {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 15px;
  border-left: dotted var(--color-font) 1px;
  color: var(--color-font);
  font-family: "Noto Sans KR", sans-serif;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.356);
}

.toolBox {
  display: flex;
  justify-content: center;
}

/* tool icon button */
.toolBox__paintingBtn {
  color: rgba(172, 131, 77, 0.993);
  cursor: pointer;
  margin-right: 30px;
  text-shadow: var(--shadow-box);
}

.toolBox__calculatorBtn {
  color: var(--color-calculator);
  text-shadow: var(--shadow-box);
  cursor: pointer;
}

.toolBox div:active {
  transform: var(--transform-button);
}

.toolBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  background-color: rgba(27, 26, 31, 0.199);
}

.toolBoard__calculator {
  display: none;
  animation: appearing 0.3s linear;
}

.toolBoard__painting {
  width: 480px;
  height: 350px;
  display: none;
  animation: appearing 0.3s linear;
}

.showing {
  display: block;
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
